
 form {
    margin: 0px 250px 0px;
}
label {
	font-family: "tahoma";
	size:13px;
}

.organiza {
	width: 100%;
	margin:10px 0;
}

p {margin:0; padding:0; float:left;}
#principal {width:980px;margin:0 auto;}
#boxEsquerda {
	width: 565px;
	float:left;
}
#horizontal {
	position:relative;
	width: 560px;
	height: 120px;
	background: #ccc;
	float: left;
	margin-bottom: 5px;
}
#vertical {
	position:relative;
	margin-left: 205px;
	width: 136px;
	height: 400px;
	background: #ccc;
	float: left;
}

#boxDireita {
	float:right;
	width: 350px;
}

.conhecimento {}
.labelConhecimento {
	margin-top:15px;
	width:100%;
	float:left;
	text-decoration:underline;
	text-align: left;
}

#conhecimentoValue {
	width: 100%;
	height:20px;
}
#enviar {
	float:right;
}

/* CLASSE DAS FONTES */
.tahoma {
	font-family: Tahoma, Geneva, sans-serif;
}
.comicSans {
	font-family:"Comic Sans MS", cursive, sans-serif;
}
.courier {
	font-family:"Courier New", Courier, monospace;
}

/* CLASSE DOS TAMANHOS */
.small {font-size:20px;}
.medium {font-size:30px;}
.big {font-size:45px;}

/*draggable*/

.drag {
	cursor:	move;
	position:absolute;
	left:0;
}

.bottom {
	top:300px;
	-webkit-transform: rotate(90deg);
}

.rotate {
	-webkit-transform: rotate(90deg);
}

.top {
	top:0;
}

.organizacaoInputs {
	width: 100%;
	float:left;
	margin:5px 0;
}

#conhecimentoValue {
	margin:5px 0;
}


.button {
	cursor:pointer;
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	-webkit-border-top-left-radius:6px;
	-moz-border-radius-topleft:6px;
	border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	-moz-border-radius-topright:6px;
	border-top-right-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-moz-border-radius-bottomright:6px;
	border-bottom-right-radius:6px;
	-webkit-border-bottom-left-radius:6px;
	-moz-border-radius-bottomleft:6px;
	border-bottom-left-radius:6px;
	text-indent:0;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:35px;
	width:auto;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ffffff;
}
.classname:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.classname:active {
	position:relative;
	top:1px;
}

#salvarTshaped {
	margin-top:175px;
	float:right;
}
